*,
*::before,
*::after {
    box-sizing: border-box;
}

.menu {
    width: 100%;
    margin: 20px 0 100px 0;
    color: var(--text-primary);
}

.container--main {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font: 600 16px/1.25 'Inter', sans-serif;
}

.menu__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.menu__title {
    max-width: 800px;
    width: 100%;
    font-size: 60px;
    text-align: center;
}

.menu__tabs {
    width: 361px;
    display: flex;
    gap: 16px;
}

.menu__button {
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--border-primary);
    background-color: transparent;
    padding: 8px 16px 8px 8px;
    font: 600 16px/1.5 'Inter', sans-serif;
    color: var(--text-primary);
    transition: all 0.5s ease-out;
}

.menu__button--active {
    background-color: var(--bg-container);
    color: var(--text-inverse);
}

.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    color: var(--text-primary);
    background-color: var(--border-primary);
}

.menu__item--active {
    background-color: var(--bg-page);
}

.menu__button:hover {
    background-color: var(--bg-container);
    color: var(--text-inverse);
}

.menu__button:hover .menu__item {
    background-color: var(--bg-page);
}

.menu-panel {
    display: none;
}

.menu-panel.menu-panel--active {
    max-width: 1360px;
    width: 100%;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, 310px);
    justify-content: center;
}

.menu-grid__item {
    max-width: 310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    border: 1px solid var(--border-primary);
    transition: transform 0.5s ease-out;
}

.menu-grid__item[hidden] {
    display: none;
}

.menu-grid__item:hover {
    transform: scale(0.9);
}

.menu-grid__box {
    max-width: 310px;
    height: 310px;
    width: 100%;
    border-radius: 40px;
    overflow: hidden;
}

.menu-grid__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-grid__content {
    height: 196px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 12px;
}

.menu-grid__title {
    max-width: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.menu-grid__name {
    margin: 0;
    font-size: 24px;
    line-height: 125%;
}

.menu-grid__text {
    margin: 0;
    font: 400 16px/1.5 'Inter', 'sans-serif';
}

.menu-grid__cost {
    max-width: 270px;
    width: 100%;
    margin: 0;
    font: 600 24px/1.25 'Inter', 'sans-serif';
}

.menu__more {
    display: none;
}

.menu__more-icon {
    width: 24px;
    height: 24px;
    color: var(--border-inverse);
    transition: transform 0.5s ease;
}

.menu__more--active {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid var(--border-inverse);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu__more-icon:hover {
    transform: rotate(360deg);
}

.menu__more:active .menu__more-icon {
    transform: rotate(360deg);
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 99;
    padding: 30px 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.modal--active {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    display: flex;
    width: clamp(342px, 89vw, 800px);
    background-color: var(--bg-page);
    border-radius: 40px;
    padding: 16px;
    font: 600 16px/1.5 'Inter', sans-serif;
    transform: scale(0.95);
    transition: transform 0.25s ease;
}

.modal--active .modal__window {
    transform: scale(1);
}

.modal__box {
    max-width: 310px;
    max-height: 310px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
}

.modal__box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal__description {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 20px;
}

.modal__title {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal__name {
    margin: 0;
    font-size: 24px;
    line-height: 1.25;
}

.modal__text {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.modal__size {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal__additives {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}

.modal__total {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.modal__texts {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

.modal__tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    color: var(--text-primary);
}

.modal__button {
    display: flex;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 100px;
    border: 1px solid var(--border-inverse);
    background-color: transparent;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in;
}

.modal__button span {
    font-weight: 600;
    line-height: 1.5;
}

.modal__button--active {
    color: var(--text-inverse);
    background-color: var(--bg-container);
}

.modal__button:hover {
    color: var(--text-inverse);
    background-color: var(--bg-container);
}

.modal__button:hover .menu__item {
    background-color: var(--bg-page);
}

.modal__alert {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 0;
    margin: 0;
    border-top: 1px solid var(--border-primary);
}

.modal__alert-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    color: var(--text-primary);
}

.modal__alert-text {
    font-size: 10px;
    line-height: 1.4;
    margin: 0;
}

.modal__button-close {
    display: flex;
    padding: 10px 78px;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--border-inverse);
    background-color: transparent;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    font-size: 16px;
    line-height: 1.5;
    transition: all 0.3s ease-in;
}

.modal__button-close:hover {
    color: var(--text-inverse);
    background-color: var(--bg-container);
}

html.modal-open,
html.modal-open body {
    overflow: hidden;
}