@import './modern-normalize.css';

:root{
    --primary: #403F3D;
    --inverse: #E1D4C9;
    --accent: #B0907A;


}

body{
    background: var(--inverse);
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 40px;
    color: var(--primary);
    font: 600 16px 'Inter', sans-serif;
    align-items: center;
}

.header__logo{
    width: 100px;
    height: 60px;
}

.header__menu{
    display: flex;
    list-style: none;
    gap: 40px;
}

.header__menu-link{    
    color: var(--primary);
    text-decoration: none;
}

.header__actions-list{
    display: flex;
    list-style: none;
    margin: 0;
    align-items: center;
}

.header__actions-item--spaced{
    margin-left: 24px;
    margin-right: 8px;
}

.hero{
    width: 100%;
    height: 644px;
    color: var(--inverse);
}

.hero__container{
    max-width: 1360px;
    height: 644px;
    background-image: url("../images/img-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px auto;
    border-radius: 40px;
}

.hero__content{
    width: 530px;
    height: 444px;
    padding: 100px;
}

.hero__title{
    margin: 0 0 40px 0;
    font: 600 72px 'Inter', sans-serif;
    line-height: 105%;
}

.hero__title-accent{
    margin: 0 0 40px 0;
    color: var(--accent);
    font: italic 600 72px 'Inter', sans-serif;
}

.hero__text{
    margin: 0;
    font: 400 16px 'Inter', sans-serif;
    line-height: 105%;
}

.hero__btn{
    margin: 0;
    margin-top: 40px;
    padding: 20px 78px;
    border-radius: 100px;
    background-color: var(--inverse);
    border: none;
    color: var(--primary);
    font: 600 16px 'Inter', sans-serif;
}

